<!DOCTYPE html>
<html>
  <head>
    <title>WakaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen bg-gradient-to-br from-purple-100 via-pink-50 to-orange-100">
    <main class="container mx-auto py-12 px-5">
      <%= yield %>
    </main>
  </body>
</html>
